@using FansApp.Data

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FanComponent> localizer

<div id="openFanPage" class="fan grow" @onclick="OnClickToFanPage">
	<div>
		<div>ID : @EtreFan.Id</div>
		<div id="iam">@localizer["JeSuis"].Value : @EtreFan.Nom</div>
		<div>@localizer["NbreClickOnMe"].Value : @EtreFan.NombreDeClickRecu</div>
	</div>

	<button @onclick="ClickCallback"
			@onclick:stopPropagation="true">
		@localizer["ClickOnMe"].Value
	</button>
</div>


@code {

	[Parameter]
	public Fan EtreFan { get; set; }

	[Parameter]
	public EventCallback ClickCallback { get; set; }

	[Parameter]
	public EventCallback OnClickToFanPage { get; set; }
}