@page "/fan/{idFan:int}"

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FanPage> localizer

@using ViewModel
@inject IFanViewModel ViewModel

@if (ViewModel.FanSelected == null)
{
	<h3>@localizer["Error"].Value</h3>

	<div>@localizer["NoFan"].Value = @idFan</div>
}
else
{
	<h3>@localizer["PageFan"].Value</h3>

	<div><u>@localizer["Name"].Value</u> : @ViewModel.FanSelected.Nom</div>
	<div><u>@localizer["NbreClickRecu"].Value</u> : @ViewModel.FanSelected.NombreDeClickRecu</div>
	<div id="infoDiverses"><u>@localizer["Info"].Value</u> : @ViewModel.FanSelected.InfoDiverses</div>
	<div><u>@localizer["Inscription"].Value</u> : <span id="dateInscrit">@ViewModel.FanSelected.DateInscription.ToString("d")</span></div>
}

@code {

	[Parameter]
	public int idFan { get; set; }

	/// <summary>
	/// Appelé une fois que les Parametres sont tous récupérés du composant parent.
	/// </summary>
	protected override void OnParametersSet()
	{
		ViewModel.LoadFan(idFan);
		base.OnParametersSet();
	}

}
