@page "/FanclubPage"

@using FansApp.ViewModel
@using FansApp.Composants

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FanclubPage> localizer

@inject IFanClubViewModel viewModel

<h3>Page du fan club</h3>

<div>
	<span>
		<button @onclick="@viewModel.DisplayNewFan">@localizer["AddNewMember"]</button>

		<button @onclick="@viewModel.DisplayNewFanWithValidation">@localizer["AddNewMemberValidation"]</button>
	</span>
</div>

@*Sans validation*@
<TemplatedDialog Show="viewModel.CanDisplayNewFan">
	<NewFanComponent GetNameFanCallBack="viewModel.AddFan"
					 OnCancel="viewModel.CancelNewFan" />
</TemplatedDialog>

@*Avec validation des champs*@
<TemplatedDialog Show="viewModel.CanDisplayNewFanWithValidation">
	<NewFanComponentWithEditForms EditContextValidation="viewModel.EditContextValidationFan"
								  FanModel="viewModel.FanModelValidation"
								  OnCancel="viewModel.CancelNewFan"
								  OnValidSubmit="viewModel.ValidNewFan" />
</TemplatedDialog>

<FanClubComposant FanCollection="@viewModel.AllFansCollection"
				  GetSonClickCallBack="@viewModel.AddClick"
				  OnClickToOpenFanPage="@viewModel.OpenFanPage" />

@code {

}
